body,html{
    height: 100%;
}

.bg{
    background: #fff;
    background-image: url(images/bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    /* background: #000; */
    background: #01daf76c;
    opacity: 0.2;
    height: 100%;
    width: 100%;
}

.search-box{
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.btn.btn-search{
    border-radius: 0px;
    height: 38px;
    background: #00BCD4;
    color: #fff;
}

.search-input:focus{
    outline:none;
    -webkit-box-shadow:none;
    box-shadow: none;
}
